@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Inconsolata&family=Montserrat");
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: var(--color_room_up);
  font-size: 100%;
  font-family: var(--font-General);
  font-display: auto;
}
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-track {
  background: var(--color_backlight);
  border-radius: 1px;
}
body::-webkit-scrollbar-thumb {
  background: var(--color_backdark);
  border-radius: 1px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--color_backmedium);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  /* Standard syntax */
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

:root {
  --color_room_left: #edfacb;
  --color_room_right: #edfacb;
  --color_room_up: #f9ffeb;
  --color_room_down: #f9ffeb;
  --color_room_back: #e4f5bb;
  --color_backdark: #fdfdfd;
  --color_backmedium: #b5c492;
  --color_backlight: #4e4e4e;
  --color_deactivated: #d1f7a042;
  --color_activated: #7ea51b;
  --color_font: #000000;
  --color_fontTitle: #3f3f3f;
  --color_font_section: #25252522;
  --color_back_section: #222831BB;
  --color_bubble_hover: #64b4da33;
  --font_Display: "DotGothic16", sans-serif;
  --font-General: "Montserrat", sans-serif;
  --font-Title: "Philosopher", sans-serif;
  /*
      --color_room_left: #141414;
      --color_room_right: #141414;
      --color_room_up: #1a1a1a;
      --color_room_down: #222222;
      --color_room_back: #0f0f0f;

      --color_backdark: #070707;
      --color_backmedium: #323232;
      --color_backlight: #4e4e4e;
      --color_deactivated: #b6df8208;
      --color_activated: #8cb81d;
      --color_font: #e0e0e0;
      --color_fontTitle: #a7a7a7;
      --color_font_section: #EEEEEE22;
      --color_back_section: #222831BB;
      --color_bubble_hover: #64b4da33;
      --font_Display: 'DotGothic16', sans-serif;
      --font-General: 'Montserrat', sans-serif;
      --font-Title: 'Philosopher', sans-serif;
      */
}