@import "components/globales.scss";
@import "components/_breakpoints.scss";

.header {
    position: fixed;
    top: 0;
    width: 100vw;    
    height: 5rem;
    //overflow: hidden;
    background-color: var(--color_backdark);
    z-index: 4;
    &__container {
        position: relative;
        width: 90%;
        height: 100vh;               
        display: grid;
        margin: 0 auto;        
        align-items: center;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 5rem;
        @include media(desktop-s) {
            width: 70%;
        }
    }
    &__logo {
        width: 38%;
        min-width: 10rem;
    }
    &__menu {
        position: relative;
        font-size: 0.8rem;
        list-style: none;
        display: none;   
        justify-self: flex-end;
        @include media(tablet) {
            display: flex; 
        }   
    }
}
.menu__list {             
        width: 7rem;          
        text-align: center;      
        padding: 0.45rem 0.9rem;
        &--home,
        &--skills,
        &--projects,
        &--about {
           border-right: 1px solid var(--color_font); 
        }        
        &--link {              
            text-decoration: none;            
            font-weight: 500;          
            color: var(--color_font);            
            &:hover {            
                color: var(--color_activated);
                cursor: pointer;
            }            
        }
    }  
.menu__selection {
        position: absolute;
        width: 7.01rem;
        height: 2rem;
        background: linear-gradient(0deg, #626a7733, #626a7700);
        border-bottom: 2px solid var(--color_activated);
        transition: left 0.3s linear;
}

.menumobil { 
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: center;
    @include media(tablet) {
        display: none; 
    } 
    &__icon--checked {
        display: none;
        &:checked ~ .burguer__menu .bar{
            background-color: var(--color_activated); 
        }
        &:checked ~ .burguer__menu .burguer__menu--barstart{
            transform: rotate(45deg) translateX(0.3rem) translateY(-0.3rem);
        }
        &:checked ~ .burguer__menu .burguer__menu--barmiddle{
            opacity: 0;
        }
        &:checked ~ .burguer__menu .burguer__menu--barend{
            transform: rotate(-45deg) translateX(0.3rem) translateY(0.3rem);
        }
    }
}

.menumobil__content {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: calc(100vh - 5rem);
    top: 5rem;
    left: -120%;
    scale: 1;
    visibility: hidden;
    background-color: var(--color_backmedium);
    border: 3px solid var(--color_deactivated);
    transition: all 0.7s cubic-bezier(.54,.01,.45,1.38);
    transform-origin: right top;
    @include media(tablet) {
        display: none; 
    } 
}
.bar{
    position: absolute;
    width: 3rem;
    height: 0.4rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--color_font);
    transition: all 0.3s linear;    
}

.burguer__menu {
    position: fixed;
    display: block;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    &:hover .burguer__menu--barstart,
    &:hover .burguer__menu--barmiddle,
    &:hover .burguer__menu--barend {
        background-color: var(--color_activated);
    }
    &--barstart {        
        transform-origin: left center;
    }
    &--barmiddle {
        top: calc(50% - 0.2rem);
    }
    &--barend {
        bottom: 0;
        transform-origin: left center;
    }
}


.title {
    width: 100%;
    font-size: 2rem;
    font-family: var(--font-Title);
    color: var(--color_font);
    font-weight: 900;
    border-bottom: 1px solid var(--color_font);
    background:  linear-gradient(90deg, #A7D12925, #A7D12901);
    padding: 0.6rem 0 0 0.5rem;
}

.home {
    width: 90vw;
    height: 41.5rem;
    margin: 6rem auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem 1fr 1fr 1fr 3.5rem ;
    background-color: #626a7700;
    @include media(desktop-s) {
        width: 70%;
    }
    &__title {       
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }
    &__description {
        margin: 5rem 0 0 0;
        color: var(--color_font);
        grid-column: 1 / 2;
        grid-row: 2 / span 2; 
    }
    &__idea {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        font-size: 1.3rem;
        margin: 5rem 0 0 0;
        color: var(--color_font);
    }    
    &__photo {    
        width: 55%;
        min-width: 18rem;
        border-radius: 50%;
        justify-self: center;
        grid-column: 2 / 3;
        grid-row: 2 / span 3;
        margin: 4.3rem auto;
        border: 5px solid var(--color_activated);
        box-shadow: 1px 1px 10px 1px #000000;
        filter: grayscale(90%);
        object-fit: cover;
        z-index: 3;
    }
    &__link--github {        
        align-self: center;
        justify-self: start;
        margin: 0 0 0 1rem;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    &__icon--github {
        width: 3rem;
        cursor: pointer;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
        }
    }
    &__link--linkedin {
        align-self: center;
        justify-self: end;
        margin: 0 1rem 0 0;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    &__icon--linkedin {
        width: 3rem;
        cursor: pointer;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
        }
    }
    
} 
.description__name {
    font-size: 3.3rem;                 
    word-wrap: break-word; 
    margin: 0 0 1rem 0;  
}
.description__profesion {
    font-size: 2.5rem;
    background: var(--color_back_section);
    color: var(--color_deactivated); 
    border-bottom: 3px solid var(--color_activated);
    &::after {
        content: "";
        font-size: 3rem;
        animation: animationCursor 1s linear infinite;
        color: var(--color_deactivated);  
    }
}
.name{
    color: var(--color_activated);  
    font-size: 4.9rem;
    font-weight: 600;
}

.footer {
    width: 100vw;
    height: 4rem;
    background-color: var(--color_backdark);
    border-top: 3px solid var(--color_activated);
    &__copyright {
        font-size: 0.8rem;
        color: var(--color_font);
    }
}



.tag__move {
    position: absolute;
    color: var(--color_font_section);
    font-size: 1rem;
    transform: translate(0px);
    transition: left 0.1 linear;    
    border-radius: 50%;
    text-align: center;
    box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
    filter: blur(0px);
    z-index: 2;
}
@keyframes animationCursor {
    0%{content: "";}
    100%{content: "I";}
}

