@import "components/globales.scss";
@import "components/_breakpoints.scss";
//@use "sass:map";


$sizeContainerMenuMobil: 35rem;

.header {
    position: fixed;
    top: 0;
    width: 100%;    
    height: 5rem;
    z-index: 7;
    overflow: hidden;
    background-color: var(--color_backdark);
    &__container {
        position: relative;
        display: flex;
        width: 90%;
        height: 100%;               
        display: grid;
        margin: 0 auto;        
        align-items: center;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 5rem;
        @include media(desktop-s) {
            width: 70%;
        }
    }
    &__logo {
        width: 38%;
        min-width: 10rem;
        max-width: 7rem;
        justify-self: center;
        grid-column: 1 / span 2;
        @include media(tablet) {
            grid-column: 1 / 2;
            justify-self: left;
        }
    }
    &__menu {
        position: relative;
        font-size: 0.8rem;
        list-style: none;
        display: none;   
        justify-self: flex-end;
        @include media(tablet) {
            display: flex; 
        }   
    }
}
.menu__list {             
        width: 7rem;          
        text-align: center;      
        padding: 0.45rem 0.9rem;
        &--home,
        &--skills,
        &--projects,
        &--about {
           border-right: 1px solid var(--color_font); 
        }        
        &--link {              
            text-decoration: none;            
            font-weight: 500;          
            color: var(--color_font);            
            &:hover {            
                color: var(--color_activated);
                cursor: pointer;
            }            
        }
    }  
.menu__selection {
        position: absolute;
        width: 7.01rem;
        height: 2rem;
        background: linear-gradient(0deg, #626a7733, #626a7700);
        border-bottom: 2px solid var(--color_activated);
        transition: left 0.3s linear;
}

.title {
    width: 100%;
    font-size: 2rem;
    font-family: var(--font-Title);
    color: var(--color_font);
    font-weight: 900;
    border-bottom: 1px solid var(--color_font);
    background:  linear-gradient(90deg, #A7D12925, #A7D12901);
    padding: 0.6rem 0 0 0.5rem;
    border-radius: 0.5rem 0 0 0;
}

.section {
    width: 90vw;
    height: 45rem;
    margin: 6rem auto; 
    justify-items: center;     
    transition: opacity 0.5s linear;    
    padding-top: 0rem;
    @include media(tablet) {
        justify-items:  flex-start; 
    }
    @include media(desktop-s) {
        width: 70%;
        height: 47rem;
        padding-top: 6rem;
    }
}
.home {    
    display: grid;
    align-items: center;  
    padding-top: 0rem; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem 1fr 1fr 1fr 3.5rem ;
    background-color: #626a7700;  
    &__title {       
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }
    &__description {
        margin: 0rem 0 0 0;
        color: var(--color_font);
        grid-column: 1 / span 2;
        grid-row: 3 / 4; 
        @include media(tablet) {
            grid-column: 1 / 2;
            grid-row: 2 / span 2; 
            margin: 5rem 0 1rem 0;
        }
    }
    &__idea {
        grid-column: 1 / span 2;
        grid-row: 4 / 5;
        font-size: 1.3rem;
        margin: -1rem 0 0 0;
        color: var(--color_font);
        @include media(tablet) {
            grid-column: 1 / 2;
            grid-row: 4 / 5;            
            margin: 0rem 0 0 0;
        }
    }    
    &__photo {    
        width: 35%;
        min-width: 12rem;
        border-radius: 50%;
        justify-self: center;
        grid-column: 1 / span 2;
        grid-row: 2 / 3;
        margin: 2rem auto 0 auto;
        border: 5px solid var(--color_activated);
        box-shadow: 1px 1px 10px 1px #000000;
        filter: grayscale(90%);
        object-fit: cover;
        z-index: 3;
        @include media(tablet) {
            width: 55%;
            min-width: 18rem;
            grid-column: 2 / 3;
            grid-row: 2 / span 3; 
            margin: 4.3rem auto;      
        }
    }
    &__link--github {        
        align-self: center;
        justify-self: start;
        margin: -1rem 0 0 1rem;
        grid-column: 2 / 3;
        grid-row: 5 / 6;        
        z-index: 5;
    }
    &__icon--github {
        width: 3rem;
        cursor: pointer;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
        }
    }
    &__link--linkedin {
        align-self: center;
        justify-self: end;
        margin: -1rem 1rem 0 0;
        grid-column: 1 / 2;
        grid-row: 5 / 6;        
        z-index: 5;
    }
    &__icon--linkedin {
        width: 3rem;
        cursor: pointer;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
        }
    }
    
} 
.linkedin__name {
    left: -0.5rem;
}
.github__name {
    left: -0.2rem;
}
.github__name,
.linkedin__name  {
    position: relative;
    top: 0.2rem;
    color: var(--color_font);
}
.description__name {
    font-size: 2rem;                 
    word-wrap: break-word; 
    margin: 0 0 0rem 0;  
    @include media(tablet) {
        font-size: 2.8rem;        
        margin: 0 0 1.3rem 0;
    }
}
.description__profesion {
    font-size: 2rem;
    grid-column: 1 / span 2;
    grid-row: 3 / 4; 
    background: var(--color_back_section);
    color: var(--color_deactivated); 
    @include media(tablet) {
        font-size: 2.5rem;
        grid-column: 1 / 2;
        grid-row: 5 / 6; 
    }
    border-bottom: 3px solid var(--color_activated);
    &::after {
        content: "";
        font-size: 3rem;
        color: var(--color_deactivated);  
        @include media(tablet) {
            content: "";
            font-size: 3rem;
            animation: animationCursor 1s linear infinite;
            color: var(--color_deactivated); 
        }
    }
}
.name{
    color: var(--color_activated);  
    font-size: 3.8rem;
    font-weight: 600;
}
.skills {
}
.contact {
    height: 45.5rem;
    @include media(desktop-s) {
        height: 52.5rem;
    }
}

.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--color_backdark);
    border-top: 3px solid var(--color_activated);
    z-index: 5;
    @include media(tablet) {
        position: fixed;        
    }
    &__copyright {
        display: none;
        align-self: end;
        font-size: 0.8rem;
        color: var(--color_font);
        margin: 0 0 0.5rem 0.5rem;
        @include media(tablet) {
            display: flex;
        }
    }
}
.link {
    width: 3rem;
    height: 3rem;
    list-style:none ;
    filter: invert(1);
}
.menumobil {
    position: absolute; 
    display: block;
    width: 90vw;
    height: 3.5rem;
    top: -0.2rem;
    left: calc(5vw);
    background-color: var(--color_backdark);  
    border: 3px solid var(--color_activated);
    align-items: end;
    @include media(tablet) {
        display: none;       
    }
    &__links {           
        display: flex;
        justify-content: space-around;
        margin: 0.1rem 0 0 0;      
    }
    &__links--home {
        background-image: url("/assets/icons/home-icon.svg");
        background-size: cover;
        filter: invert(0);
    }
    &__links--skills {
        background-image: url("/assets/icons/skills-icon.svg");
        background-size: cover;
    }
    &__links--projects {
        background-image: url("/assets/icons/portfolio-icon.svg");
        background-size: cover;
    }
    &__links--about {
        background-image: url("/assets/icons/about-icon.svg");
        background-size: cover;
    }
    &__links--contact {
        background-image: url("/assets/icons/contact-icon.svg");
        background-size: cover;
    }
    &__link--select {
        position: absolute;
        width: 18vw;
        height: 5rem;
        top: -1.7rem;
        left: -0.2rem;
        font-weight: bold;
        font-size: 0.80rem;
        background-color: var(--color_activated);
        box-shadow: 2px 2px 4px 1px var(--color_deactivated) inset;
        border-radius: 0.5rem 0.5rem 0 0;
        border: 3px solid var(--color_activated);
        text-align: center;
        padding: 0.5rem 0 0 0;
        transition: left 0.3s linear;
    }
}


.tag__move {
    position: absolute;
    color: var(--color_font_section);
    font-size: 1rem;
    transform: translate(0px);
    transition: left 0.1 linear;    
    border-radius: 50%;
    text-align: center;
    box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
    filter: blur(0px);
    z-index: 4;
}
@keyframes animationCursor {
    0%{content: "";}
    100%{content: "I";}
}

